.best {
  padding: 30px;

  background-color: rgba(0, 255, 255, 0.1);
  outline: 2px solid yellow;
}

.best__name {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.best__title {
  margin: 0;

  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
}

.best__description {
  line-height: 24px;
}

.best__characteristics {
  line-height: 20px;

  border-collapse: collapse;
}

.best__characteristics td {
  border-bottom: 1px solid #ececec;
}

.best__price {
  font-size: 17px;
  line-height: 24px;
}

.button.best__order {
  font-size: 17px;
}
