.catalog {
  background-color: rgba(0, 255, 255, 0.1);
  outline: 2px solid yellow;
}

.catalog__header {
  text-align: center;
  background-color: #f1f1f1;

  background-color: rgba(0, 0, 255, 0.1);
  outline: 2px solid blue;
}

.catalog__title {
  display: block;
  margin: 0 30px;
  padding: 70px 0;

  font-size: 25px;
  color: #000000;
}
