.contacts {
  padding: 30px;

  background-color: rgba(0, 255, 255, 0.1);
  outline: 2px solid yellow;
}

.contacts__title {
  margin: 0;

  font-size: 18px;
  color: #000000;
}

.contacts__value--email {
  color: @base-color;
  text-decoration: underline;
  text-decoration-color: #62d1ba;
}
