.goods-list {
  .clear-ul();

  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.goods-list__item {
  width: 100%;
}

.goods-list__item a {
  position: relative;
  display: block;
  padding: 28px 30px;

  color: #ffffff;
  text-align: left;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
}

.goods-list__item a::after {
  content: "";

  position: absolute;

  opacity: 0.3;
}

.goods-list__item {
  &--left {
    background-color: #63d1bb;
  }

  &--left a::after {
    top: 23px;
    right: 35px;

    width: 40px;
    height: 62px;

    background: url("../../img/icon-interior.svg") no-repeat;
  }

  &--right {
    background-color: #56c3b2;
  }

  &--right a::after {
    top: 21px;
    right: 27px;

    width: 60px;
    height: 60px;

    background: url("../../img/icon-toy.svg") no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .goods-list {
    flex-direction: row;
    width: 668px;
  }

  .goods-list__item {
    &:hover {
    transform: translateY(-5px);
    }

    &--left a::after {
      top: 30px;
    }

    &--right a::after {
      top: 32px;
      right: 35px;
    }
  }

  .goods-list__item a {
    padding: 0 35px;
    padding-top: 30px;
    padding-bottom: 45px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .goods-list {
    width: 1050px;
  }
}
