.goods-list {
  .clear-ul();

  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.goods-list__item {
  width: 80%;
  padding: 28px 30px;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
}

.goods-list__item a {
  color: #ffffff;
}

.goods-list__item--left {
  background-color: #63d1bb;
}

.goods-list__item--right {
  background-color: #56c3b2;
}

@media (min-width: @tablet-width) {
  .goods-list {
    flex-direction: row;
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .goods-list {
    width: 1050px;
  }
}
