.main-nav {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: rgba(0, 255, 255, 0.1);
  outline: 2px solid yellow;
}

.main-nav__wrapper {
  background-color: rgba(0, 0, 255, 0.1);
  outline: 2px solid blue;
}

