.making {
  padding: 30px;
}

.making__title {
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.making__description {
  font-size: 13px;
  line-height: 24px;
}

.making__order {
  font-size: 17px;
  line-height: 16px;
}
