.making {
  padding: 30px;

  background-color: rgba(0, 255, 255, 0.1);
  outline: 2px solid yellow;
}

.making__title {
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.making__description {
  font-size: 13px;
  line-height: 24px;
}

.making__order.button {
  font-size: 17px;
  line-height: 16px;
}
