.modal-cart {
  width: 320px;
  margin: 0 auto;

  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
}

.modal-cart__wrapper {
  padding: 0 30px;

  box-sizing: border-box;
}

.modal-cart__title {
  display: block;
  width: 163px;
  margin: 32px 50px 17px;

  text-align: center;
  font-size: 25px;
  color: #000000;
  text-transform: uppercase;
}

.modal-cart__text {
  display: block;
  width: 140px;
  margin: 0;
  margin-bottom: 28px;
  margin-right: 60px;
  margin-left: 60px;

  text-align: center;
}

.modal-cart__size-form {
  margin-bottom: 46px;
}

.modal-cart__add {
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
}

@media (min-width: @tablet-width) {
  .modal-cart {
    width: 567px;
  }
}
