.order__header {
  text-align: center;
  background-color: #f1f1f1;
}

.order__title {
  display: block;
  margin: 0 30px;
  padding: 70px 0;

  font-size: 25px;
  color: #000000;
}

.order__wrapper {
  padding: 30px;
  width: 320px;
  margin: 0 auto;
}

.order__description {
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .order__wrapper {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .order__wrapper {
    width: 1150px;
  }
}
