.order {
  background-color: rgba(0, 255, 255, 0.1);
  outline: 2px solid yellow;
}

.order__header {
  text-align: center;
  background-color: #f1f1f1;

  background-color: rgba(0, 0, 255, 0.1);
  outline: 2px solid blue;
}

.order__title {
  display: block;
  margin: 0 30px;
  padding: 70px 0;

  font-size: 25px;
  color: #000000;
}

.order__wrapper {
  padding: 30px;
}

.order__description {
  font-size: 13px;
  line-height: 24px;
}
