.reviews__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 27px;

  box-sizing: border-box;

  &::after {
    .pseudo();
    bottom: 0;
    left: 0;

    width: 100%;
    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 0px 0px;
    background-size: 300px auto;
  }
}

.reviews__title {
  display: block;
  order: -2;
  margin: 0;
  margin-bottom: 25px;

  font-size: 25px;
  color: #000000;
}

.reviews__item {
  margin: 0;
  margin-bottom: 28px;
}

.reviews__text {
  display: block;
  margin: 0;
  margin-bottom: 25px;
}

.reviews__name {
  display: block;
  margin-bottom: 4px;

  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-style: normal;
  font-weight: 700;
}

.reviews__email {
  display: block;

  font-size: 17px;
  font-style: normal;
}

.reviews__toggles {
  display: flex;
  margin: 0;
  margin-bottom: 38px;
}

.reviews__toggle {
  display: block;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 3px;

  font: inherit;

  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #ececec;
  cursor: pointer;

  & svg {
    width: 50px;
    height: 26px;
  }

  &:hover svg {
    opacity: 0.6;
  }

  &:active svg {
    opacity: 0.3;
  }

  &--prev {
    padding-left: 37px;
    padding-right: 42px;
  }

  &--next {
    padding-right: 41px;
    padding-left: 37px;

    border-left: none;
  }
}

.reviews__write {
  margin-bottom: 51px;
  padding-top: 13px;
}

@media (min-width:@tablet-width) {
  .reviews__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 768px;
    padding: 0 50px;

    .background();
    background-image: url("../img/review@1x.jpg");
    background-size: 350px 457px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }

    &::after {
      height: 17px;

      background-size: 750px auto;
    }
  }

  .reviews__title {
    margin-top: 77px;
    margin-left: -4px;

    font-size: 43px;
    line-height: 50px;
  }

  .reviews__write {
    order: -1;
    margin-top: 80px;
    margin-bottom: 45px;
    padding: 13px 38px;

    font-size: 17px;
  }

  .reviews__item {
    margin-bottom: 130px;
  }

  .reviews__text {
    margin-bottom: 60px;

    font-size: 17px;
    line-height: 30px;
  }

  .reviews__name {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 24px;
  }

  .reviews__toggles {
    .pseudo();
    bottom: 134px;
    right: 50px;

    margin: 0;
  }

  .reviews__toggle {
    border: none;

    &--prev {
      padding-left: 11px;
      padding-right: 18px;
    }

    &--next {
      padding-right: 19px;
      padding-left: 19px;
    }
  }
}

@media (min-width:@desktop-width) {
  .reviews__wrapper {
    width: 1050px;
    padding: 0;
    padding-left: 175px;

    &::after {
      height: 23px;

      background-size: 1050px auto;
    }
  }

  .reviews__title {
    margin-top: 72px;

    font-size: 53px;
    line-height: 57px;
  }

  .reviews__item {
    margin-bottom: 185px;
  }

  .reviews__text {
    width: 770px;

    margin-bottom: 43px;
  }

  .reviews__name {
    font-size: 17px;
  }

  .reviews__toggles {
    right: 0;
    bottom: 189px;
  }
}
